* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.responsive {
    width: 100%;
    height: auto;
}
.grid {
height: 100vh;
    display: grid;



}
.nav{
    background-color: aqua;
}

.after1{
    background-color: coral;
}
.after2{
    background-color: rgb(174, 142, 131);
}
.aftert{
    background-color: rgb(23, 183, 195);
}
.beforei{
    background-color: rgb(108, 177, 88);
}
.beforet{
    background-color: rgb(210, 207, 44);
}
.footer{
    background-color: rgb(196, 130, 192);
}
